@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@layer base {
  html, body, #app { height: 100%; }
  :root { color-scheme: dark; }
  body { @apply bg-slate-900 text-slate-100; }
}

@layer utilities {
  .bg-sidebar { background-color: #203342; }
}
